body {
  margin: 0;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:aliceblue;

}


.cartBtn{
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  color: aliceblue;
  background-color:blue;
}

.mainHeading{
  text-decoration: underline;
  color: blue;
  
}